/* 
    sm -> 24
    md -> 36 - normal
    lg -> 48
    xl -> 72
    2xl -> 98
*/
.avatar {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.avatar > * {
  width: 100%;
  border-radius: 50%;
}
.avatar--icon > * {
  width: 80%;
}
.avatar--square {
  border-radius: 0;
}
.avatar--square > * {
  border-radius: 0;
}
.avatar--rounded {
  border-radius: 0.5rem;
  /* border-radius: 8px; */
}
.avatar--rounded > * {
  border-radius: 0.25rem;
}

.avatar--sm {
  width: 24px;
  height: 24px;
}
.avatar--md {
  width: 36px;
  height: 36px;
}
.avatar--lg {
  width: 48px;
  height: 48px;
}
.avatar--xl {
  width: 72px;
  height: 72px;
}
.avatar--2xl {
  width: 98px;
  height: 98px;
}
