/* ----------------------right sidebar----------------- */
.right-sidebar {
  width: var(--sidebar-width);
  /* position: fixed; */
  position: sticky;
  top: 0;
  left: calc(100%- var(--sidebar-width));
  padding: 3rem 2.5rem;
  /* padding-left: 3.5rem; */
}
.right-sidebar-header {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1.25px;
  /* text-transform: uppercase; */
  line-height: 20px;
  margin-bottom: 1rem;
  padding: 0 0.75rem;
  margin-left: auto;
  margin-right: auto;
}
.right-sidebar-nav__item {
  list-style: none;
  /* opacity: 0.6; */
  font-size: 0.875rem;
  color: var(--text-light);
  padding: 0.1rem 0.75rem;
  border-radius: 0.2rem;
  /* font-weight: 500; */
  cursor: pointer;

  margin-left: auto;
  margin-right: auto;
}
.right-sidebar-nav__item a {
  text-decoration: none;
  color: var(--text-light);
}
.right-sidebar-nav__item a:hover {
  color: var(--primary-color);
}
.right-sidebar-nav__item a:focus {
  color: var(--primary-color);
}
