@import url("./utility.css");
@import url("./avatar.css");
@import url("./alert.css");
@import url("./badge.css");
@import url("./button.css");
@import url("./card.css");
/* border box */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  /* font: 16px/1.7 "Source Sans Pro", Helvetica, Helvetica Neue, Arial, sans-serif; */
  font: 16px/1.7 "Inter", sans-serif;
  /* color: var(--white-color1); */
  /* background-color: var(--bg-color); */
}
*,
body,
html {
  margin: 0;
  padding: 0;
}

.App {
  padding: 2rem;
  width: 100%;
  min-height: 100vh;
  background-color: var(--black-color1);
  /* background-color: var(--white-color1); */
  color: var(--white-color1);
}
