:root {
  --text-color: black;
  --bg-color: #e5e7eb;

  --white-color1: #f1f5f6;
  --white-color2: #f3f2f3;
  --white-color3: #f6f6f6;

  --black-color1: #131213;
  --black-color2: #0b0c0d;
  --black-color3: #040404;

  --blue-color1: #1876d2;
}

/* ---------------------------------------utitlity classes--------------------------------------- */

/* bg-colors */
.bg-white {
  background-color: var(--white-color3);
}
.bg-black {
  background-color: var(--black-color3);
}
.bg-blue {
  background-color: var(--blue-color1);
}

/* text-colors */
.text-white {
  color: var(--white-color2);
}
.text-black {
  color: var(--black-color2);
}

/* icon */
.icon-sm {
  width: 24px;
  height: 24px;
}
.icon-md {
  width: 36px;
  height: 36px;
}
.icon-lg {
  width: 48px;
  height: 48px;
}
.icon-xl {
  width: 72px;
  height: 72px;
}
.icon-2xl {
  width: 98px;
  height: 98px;
}

/* fill */
.fill-white {
  fill: var(--white-color1);
}
.fill-black {
  fill: var(--black-color1);
}

/* margin */
.mr-4 {
  margin-right: 1rem;
}

/* font */

/* breakpoints */

/* container */
.container {
}
.container-sm {
  max-width: 640px;
}
.container-md {
  max-width: 768px;
}
.container-lg {
  max-width: 1024px;
}
.container-xl {
  max-width: 1280px;
}
.container-2xl {
  max-width: 1536px;
}

/* box sizing */
.box-border {
  box-sizing: border-box;
}
.box-content {
  box-sizing: content-box;
}

/* display */
.hidden {
  display: none;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}

/* table */
/* todo inlcude table if need be */

/* float */
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.float-none {
  float: none;
}

/* clear */
.clear-left {
  clear: left;
}
.clear-right {
  clear: right;
}
.clear-both {
  clear: both;
}
.clear-none {
  clear: none;
}

/* object-fit */
.object-contain {
  object-fit: contain;
}
.object-cover {
  object-fit: cover;
}
.object-fill {
  object-fit: fill;
}
.object-none {
  object-fit: none;
}
.object-scale-down {
  object-fit: scale-down;
}

/* object-position */
/* todo */

/* overflow */
.overflow-auto {
  overflow: auto;
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-visible {
  overflow: visible;
}
.overflow-scroll {
  overflow: scroll;
}
.overflow-x-auto {
  overflow-x: auto;
}
.overflow-y-auto {
  overflow-y: auto;
}
.overflow-x-hidden {
  overflow-x: hidden;
}
.overflow-y-hidden {
  overflow-y: hidden;
}
.overflow-x-visible {
  overflow-x: visible;
}
.overflow-y-visible {
  overflow-y: visible;
}
.overflow-x-scroll {
  overflow-x: scroll;
}
.overflow-y-scroll {
  overflow-y: scroll;
}

/* overscroll */
/* todo */

/* position */
.static {
  position: static;
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.stickt {
  position: sticky;
}

/* top right bottom left */
/* todo */

/* visibility */
.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}

/* zindex */
.z-0 {
  z-index: 0;
}
.z-10 {
  z-index: 10;
}
.z-20 {
  z-index: 20;
}
.z-30 {
  z-index: 30;
}
.z-40 {
  z-index: 40;
}
.z-50 {
  z-index: 50;
}
.z-auto {
  z-index: auto;
}

/* ------------------------------flexbox--------------------------------- */
/* display */
/* .flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
} */

/* flex-direction */
.flex-row {
  flex-direction: row;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.flex-col {
  flex-direction: column;
}
.flex-col-reverse {
  flex-direction: column-reverse;
}

/* flex-wrap */
.flex-wrap {
  flex-wrap: wrap;
}
.flex-wrap {
  flex-wrap: wrap-reverse;
}
.flex-nowrap {
  flex-wrap: nowrap;
}

/* flex */
.flex-1 {
  flex: 1 1 0%;
}
.flex-auto {
  flex: 1 1 auto;
}
.flex-initial {
  flex: 0 1 auto;
}
.flex-none {
  flex: none;
}

/* flex-grow */
.flex-grow {
  flex-grow: 1;
}
.flex-grow-0 {
  flex-grow: 0;
}

/* flex-shrink */
.flex-shrink {
  flex-shrink: 1;
}
.flex-shrink-0 {
  flex-shrink: 0;
}

/* order */
.order-1 {
  order: 1;
}
.order-2 {
  order: 2;
}
.order-3 {
  order: 3;
}
.order-4 {
  order: 4;
}
.order-5 {
  order: 5;
}
.order-6 {
  order: 6;
}
.order-7 {
  order: 7;
}
.order-8 {
  order: 8;
}
.order-9 {
  order: 9;
}
.order-10 {
  order: 10;
}
.order-11 {
  order: 11;
}
.order-12 {
  order: 12;
}

/* ------------------------------------------------grid------------------------------------- */
/* todo */

/* -------------------------------------------box-alignment--------------------------------- */

/* --------------------------------------spacing------------------------------------------- */
.p-0 {
  padding: 0px;
}
.p-1 {
  padding: 0.25rem;
}
.p-2 {
  padding: 0.5rem;
}
.p-3 {
  padding: 0.75rem;
}
.p-4 {
  padding: 1rem;
}
.p-5 {
  padding: 1.25rem;
}
.p-6 {
  padding: 1.5rem;
}
.p-7 {
  padding: 1.75rem;
}
.p-8 {
  padding: 2rem;
}
.p-9 {
  padding: 2.25rem;
}
.p-10 {
  padding: 2.5rem;
}
.p-11 {
  padding: 2.75rem;
}
.p-12 {
  padding: 3rem;
}
.p-14 {
  padding: 3.5rem;
}
.p-16 {
  padding: 4rem;
}
.p-20 {
  padding: 5rem;
}
.p-24 {
  padding: 6rem;
}
.p-28 {
  padding: 7rem;
}
.p-32 {
  padding: 8rem;
}
.p-36 {
  padding: 9rem;
}
.p-40 {
  padding: 10rem;
}
.p-44 {
  padding: 11rem;
}
.p-48 {
  padding: 12rem;
}
.p-52 {
  padding: 13rem;
}
.p-56 {
  padding: 14rem;
}
.p-60 {
  padding: 15rem;
}
.p-64 {
  padding: 16rem;
}
.p-72 {
  padding: 18rem;
}
.p-80 {
  padding: 20rem;
}
.p-96 {
  padding: 24rem;
}
